{% extends 'base.html' %}
{% load static %}

{% block title %}Map of Pubs and User Location{% endblock %}

{% block content %}

<div class="container mt-4">
    <!-- Header -->
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5">Ireland Amenities</h1>
            <p class="text-muted">Places to eat and drink</p>
        </div>
    </div>

    <!-- Map Section -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="card shadow">
                <div class="card-body p-0">
                    <div id="map" style="height: 400px; width: 100%;"></div>
                </div>
                <div class="card-footer text-center">
                    <button onclick="updateLocation()" class="btn btn-primary btn-sm mt-2">
                        Update Location
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Legend -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
            <div id="legend" class="mb-3">
                <h5></h5>
                <span>
                    <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png" style="width: 20px; vertical-align: middle;"> You
                </span>
                <span>
                    <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png" style="width: 20px; vertical-align: middle;"> Pubs
                </span>
                <span class="ms-3">
                    <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png" style="width: 20px; vertical-align: middle;"> Restaurants
                </span>
                <span class="ms-3">
                    <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png" style="width: 20px; vertical-align: middle;"> Cafes
                </span>
                <span class="ms-3">
                    <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png" style="width: 20px; vertical-align: middle;"> Bars
                </span>
                <span class="ms-3">
                    <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png" style="width: 20px; vertical-align: middle;"> Fast Food
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Filters -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
            <div id="filter-options" class="mb-4">
                <h5>Filter Amenities</h5>
                <form id="filter-form">
                    <label>
                        <input type="checkbox" name="amenity" value="pub"> Pubs
                    </label>
                    <label>
                        <input type="checkbox" name="amenity" value="restaurant"> Restaurants
                    </label>
                    <label>
                        <input type="checkbox" name="amenity" value="cafe"> Cafes
                    </label>
                    <label>
                        <input type="checkbox" name="amenity" value="bar"> Bars
                    </label>
                    <label>
                        <input type="checkbox" name="amenity" value="fast_food"> Fast Food
                    </label>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Apply Filters</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Marker -->
<div class="container text-center my-3">
    <button id="toggle-marker-mode" class="btn btn-primary">Enable Add Marker Mode</button>
    <p id="marker-mode-status" class="text-muted mt-2">Marker mode is <strong>disabled</strong></p>
</div>

<!-- Search -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form id="search-form" class="d-flex">
                <input type="text" id="search-query" class="form-control me-2" placeholder="Search for an amenity by name">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>



<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Leaflet.markercluster Plugin -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="{% static 'js/mapScript.js' %}"></script>

<script>
    function updateMap(latitude, longitude, accuracy) {
        if (marker) map.removeLayer(marker);
        if (circle) map.removeLayer(circle);

        marker = L.marker([latitude, longitude]).addTo(map);
        circle = L.circle([latitude, longitude], { radius: accuracy }).addTo(map);
        map.setView([latitude, longitude], 13); 
    }

    function updateLocation() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var accuracy = position.coords.accuracy;

                    updateMap(latitude, longitude, accuracy);

                    fetch('{% url "update_location" %}', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        body: 'latitude=' + latitude + '&longitude=' + longitude
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log('Location updated successfully.');
                        } else {
                            console.error('Error updating location.');
                        }
                    })
                    .catch(error => console.error("Fetch error:", error));
                },
                function (error) {
                    console.error('Error getting location:', error);
                }
            );
        } else {
            console.error('Geolocation is not supported by this browser.');
        }
    }
</script>
{% endblock %}

